In [3]:
# Импорты

import math
import numpy as np
import pandas as pd
from datetime import date
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from time import time 

import holidays
import prophet
from prophet import Prophet
from prophet.diagnostics import cross_validation, performance_metrics
from sklearn.metrics import mean_absolute_percentage_error

In [4]:
# from google.oauth2 import service_account

# pd.set_option('display.max_columns', 599)
# pd.set_option('display.max_rows', 599)

# project_id = 'kolesa-android-app'
# credentials = 'C:/kolesa-android-app-715adc9bdf26.json'
# credentials = service_account.Credentials.from_service_account_file(credentials)

In [5]:
# q = """SELECT * FROM `kolesa-android-app.academy.time_series_dataset` ORDER BY 1"""

In [6]:
# data = pd.read_gbq(query=q, project_id=project_id, credentials=credentials, dialect='standard', progress_bar_type='tqdm') # Запрос данных из GBQ

In [7]:
#ЕСЛИ У ВАС НЕТ ДОСТУПА К BQ, ТО МОЖНО ЗАГРУЗИТЬ ДАННЫЕ ЧЕРЕЗ CSV

data = pd.read_csv('Data/data.csv')
data

      event_date      y
0     2022-01-19  15360
1     2022-11-08  19712
2     2021-06-07  12801
3     2021-03-28  12801
4     2021-04-15  13314
...          ...    ...
1091  2022-07-24  15103
1092  2022-02-28  15615
1093  2021-10-31  16383
1094  2021-12-01  16918
1095  2022-05-05  15242

[1096 rows x 2 columns]

In [8]:
data.sort_values(by='event_date', inplace=True)
data

     event_date      y
376  2020-01-01   5721
345  2020-01-02   8274
532  2020-01-03   9344
574  2020-01-04   9864
843  2020-01-05  10435
..          ...    ...
623  2022-12-27  17042
285  2022-12-28  16195
495  2022-12-29  14966
56   2022-12-30  13070
27   2022-12-31   9991

[1096 rows x 2 columns]

In [9]:
data.dtypes

event_date    object
y              int64
dtype: object

In [10]:
data['event_date'] = pd.to_datetime(data['event_date'])
data.dtypes

event_date    datetime64[ns]
y                      int64
dtype: object

In [11]:
data.columns = ['ds', 'y']
data.head()

            ds      y
376 2020-01-01   5721
345 2020-01-02   8274
532 2020-01-03   9344
574 2020-01-04   9864
843 2020-01-05  10435