In [1]:
# Импорты
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from google.oauth2 import service_account

In [2]:
pd.set_option('display.max_columns', 599)
pd.set_option('display.max_rows', 599)

project_id = 'kolesa-android-app'
credentials = 'C:/kolesa-android-app-715adc9bdf26.json'
credentials = service_account.Credentials.from_service_account_file(credentials)

In [3]:
q = """SELECT * FROM `kolesa-android-app.academy.time_series_dataset` ORDER BY 1"""

In [4]:
data = pd.read_gbq(query=q, project_id=project_id, credentials=credentials, dialect='standard', progress_bar_type='tqdm') # Запрос данных из GBQ

C:\Users\lofas\AppData\Local\Temp\ipykernel_24364\2496023931.py:1: FutureWarning: read_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.read_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.read_gbq
  data = pd.read_gbq(query=q, project_id=project_id, credentials=credentials, dialect='standard', progress_bar_type='tqdm')
c:\repos\Kolesa-python-exam\venv\Lib\site-packages\google\cloud\bigquery\table.py:2257: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

In [5]:
#ЕСЛИ У ВАС НЕТ ДОСТУПА К БИГКВЕРИ, ТО МОЖНО ЗАГРУЗИТЬ ДАННЫЕ ЧЕРЕЗ CSV

# data = pd.read_csv('Data/data.csv')
# data

In [6]:
df = data.copy()
df

      event_date      y
0     2020-01-01   5721
1     2020-01-02   8274
2     2020-01-03   9344
3     2020-01-04   9864
4     2020-01-05  10435
...          ...    ...
1091  2022-12-27  17042
1092  2022-12-28  16195
1093  2022-12-29  14966
1094  2022-12-30  13070
1095  2022-12-31   9991

[1096 rows x 2 columns]